	<footer class="container-fluid text-center">
		<div class="row">
			<div  class="col-sm-4">
				
				<h3>Contact Us</h3>
				<br>
				<div style="color:#D5D5D5">
				<p class="lead">Vyshnavi-7411040304</p>
				<p class="lead">Rohit-9495665022</p>
				<p class="lead">Anudeep-7093090471 </p>
				
			</div>
			</div>
			<div  class="col-sm-4">
			<h3>Follow us</h3>
			<a href="https://www.facebook.com/amritace/" class="fa fa-facebook" target="_blank"></a>
			<a href=" https://www.linkedin.com/in/amrita-center-for-entrepreneurship-9537a3179" class="fa fa-linkedin" target="_blank"></a>
			<a href="https://instagram.com/ace_bangalore_?utm_source=ig_profile_share&igshid=19lyzjlcuwf7m" class="fa fa-instagram" target="_blank"></a>
		
			</div>
			<div  class="col-sm-4">
				<img class="logo" src="/images/acelogoadj.png">
			</div>
		</div>
		<div class="developer"> Devloped by V.N.Akash <a href="https://www.facebook.com/akash.nandakumar.12" class="fa fa-facebook devicon" target="_blank"></a><a href="https://www.instagram.com/aaaa_cashhh/" class="fa fa-instagram" target="_blank"></a><a href=" https://www.linkedin.com/in/akash-nandan-941507161" class="fa fa-linkedin" target="_blank"><a href=" https://github.com/akashdev99" class="fa fa-github" target="_blank"></a></a></div>
	</footer> 


	<!-- modal -->


	

</body>
</html>