<% include ../partials/header %>

	<div id="home">
			<div class="landing-text">
				<section class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0s">
					<h1 style="font-family: 'Anton', sans-serif;letter-spacing:4px; ">Internmela<span
     				class="txt-rotate red"
     				data-period="900"
     				data-rotate='[ "19", "2K19","Aspire" ]'></span></h1>
				</section>
				<section class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.2s">
					<h3 style="font-family: 'Dancing Script', cursive;font-size:35px">"Test ride to great careers"</h3>
				</section>
				
			</div>	
	</div>
	<div class="padding">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<img style="padding-top:50px;min-height:320px" src="/images/acelogoadj.png" class="img-responsive aarsha">
				</div>
				<div class="col-sm-6">
					<h3><span class="red" style="font-weight:bold;">ACE</span></h3>
				<p class="lead">Amrita E-Cell, provides business and people with opportunities to imagine sustainable innovations.
								ACE creates networks where there have been none, bringing the skills, the mentors, and the access
								to capital through interns that accelerate local entrepreneurs towards success. </p>
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#acemodal">
  								Read More
								</button>
			</div>
			<div class="modal fade" id="acemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  				<div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">ACE</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        				<p>Amrita E-Cell, provides business and people with opportunities to imagine sustainable innovations.
										ACE creates networks where there have been none, bringing the skills, the mentors, and the access
										to capital through interns that accelerate local entrepreneurs towards success. Every year, we
										conducts contests: fun, community-driven events that enable would-be entrepreneurs to get
										feedback on their ideas, and learn about accelerator program. The group brings value to over all
										students of all sizes, in all industries. Our collaborations through the club with companies foster
										social innovation, expanding possibilities for the company to improve the real world.
										</p>
									
			      </div>
			      <div class="modal-footer">
			       
			      </div>
			    </div>
			  </div>
				</div>
				</div>
				<!-- Button trigger modal -->


<!-- Modal -->
				
	
			</div>
		</div>
	</div>

	<div class="padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<h3><span class="red" style="font-weight:bold;">AMRITA</span></h3>
				<p class="lead">Amrita Vishwa Vidyapeetham is a multi-campus, multi-disciplinary research academia that is
				accredited &#39;A&#39; by NAAC and is ranked as one of the best research institutions in India. Amrita is
					spread across six campuses in three states of India </p>
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#acemodal">
  								Read More
								</button>
			</div>
			<div class="modal fade" id="acemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  				<div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">AMRITA</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        				<p>Amrita E-Cell, provides business and people with opportunities to imagine sustainable innovations.
										ACE creates networks where there have been none, bringing the skills, the mentors, and the access
										to capital through interns that accelerate local entrepreneurs towards success. Every year, we
										conducts contests: fun, community-driven events that enable would-be entrepreneurs to get
										feedback on their ideas, and learn about accelerator program. The group brings value to over all
										students of all sizes, in all industries. Our collaborations through the club with companies foster
										social innovation, expanding possibilities for the company to improve the real world.
										</p>
									
			      </div>
			      <div class="modal-footer">
			       
			      </div>
			    </div>
			  </div>
				</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<img src="/images/amritanew.png" class="img-responsive aarsha">
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<h3><span class="red" style="font-weight:bold;">INTERNMELA</span></h3>
				<p class="lead">Internmela is an internship drive organized by Amrita Center for Entrepreneurship in Amrita School
				of Engineering, Bengaluru. It is a mutually befitting platform which aims to bridge the gap between
				students and start-ups.
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#internshipmodal">
  								Read More
								</button>


				</p>
				<div class="modal fade" id="internshipmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  				<div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">INTERNMELA</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        				<p>Internmela is an internship drive organized by Amrita Center for Entrepreneurship in Amrita School
										of Engineering, Bengaluru. It is a mutually befitting platform which aims to bridge the gap between
										students and start-ups. Students across all streams of Engineering are given internship opportunities
										both in technical and non-technical fields. More than 35 companies attend ‘Internmela’ each year to
										recruit 100+ students for internships. Internmela has proved to be a promising platform to inculcate
										start-up culture in young minds and experimentally learn the organizational structure and
										understand the culture of the entrepreneurial world. Students are given an opportunity to find
										internships in not only engineering domains but also in fields like marketing, sales, journalism,
										photography and content writing. Internmela’19 is going to be conducted on 23 rd March, 2019 in the
										Amrita Vishwa Vidyapeetham, Bengaluru campus.
										</p>
									
			      </div>
			      <div class="modal-footer">
			       
			      </div>
			    </div>
			  </div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<img src="/images/internme.png" class="img-responsive aarsha">
			</div>	


	</div>
	</div>
</div>
	<div class="fixed">
			
	</div>

	<footer class="container-fluid text-center">
		<div class="row">
			<div  class="col-sm-4">
				
				<h3>Contact Us</h3>
				<br>
				<div style="color:#D5D5D5">
				<p class="lead">Vyshnavi-7411040304</p>
				<p class="lead">Rohit-9495665022</p>
				<p class="lead">Anudeep-7093090471 </p>
				
			</div>
			</div>
			<div  class="col-sm-4">
			<h3>Follow us</h3>
			<a href="https://www.facebook.com/amritace/" class="fa fa-facebook"></a>
			<a href=" https://www.linkedin.com/in/amrita-center-for-entrepreneurship-9537a3179" class="fa fa-linkedin"></a>
			<a href="https://instagram.com/amrita_e_cell?utm_source=ig_profile_share&igshid=1meddm8870ce3" class="fa fa-instagram"></a>
		
			</div>
			<div  class="col-sm-4">
				<img class="logo" src="/images/acelogoadj.png">
			</div>
		</div>
	</footer> 


	<!-- modal -->


	

</body>
</html>