<% include ../partials/companyheader %>
    <div class="message">
  
            <p>Click or hover over the company cards to view job description.<span ><i class="fa fa-times stylize" aria-hidden="true"></i></span><p>
            
        
    </div>
   

</div>


<div class="container">
    <div class="row">
        
    <h1 style="padding-top:5px;"><span  class="red"> TECHNICAL</span></h1>
        <div class="col-sm-10 col-sm-offset-1 from-bottom">
         <div class="col-lg-3 col-md-6 col-sm-6 col-6  ">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;"  src="images/infrastack-new.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">1)InfraStack Labs</h3>
                                
                                <p class="text-center"><br>"InfraStack-Labs is a product & platform focused organization specializing in cloud computing offering an agile public cloud platform for enterprises ."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"InfraStack Labs"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Electronics and Communication Engineering, Computer Science Engineering, IT.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

       <div class="col-lg-3 col-md-6 col-sm-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="width:38%;height:70px;" id="center" src="images/competence.png"/>
                       </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">2)Competence Factory</h3>
                                
                                <p class="text-center"><br>"Competences factory is  one  of  the  best  and  most  trusted  education  and  training providers  in  India . "</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Competence Factory"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Electronics and Communication Engineering, Computer Science Engineering, Marketing, Content Writing, IT</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

        <div class="col-lg-3 col-md-6 col-sm-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;"  src="images/getpy.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">4)GETpy technologies</h3>
                                
                                <p class="text-center"><br>"PY Technologies develops innovative software products and offers them on premise or as cloud-hosted business platforms to help businesses develop deeper connections with customers."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"GETpy technologies"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Computer Science Engineering, Sales.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->

        <div class="col-lg-3 col-md-6 col-sm-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="image">
                            <img style="height:68px;width:50%;" id="center"src="images/finch.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">11)Finch</h3>
                                
                                <p class="text-center"><br>"Finch extends to a series of products, services and solutions that cover diverse businesses – from consumer care to cutting-edge information technology. Over the years, our identity has evolved with our business, adapting to changing global dynamics."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Finch"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Marketing, IT, Sales.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->






        </div> <!-- end col-sm-10 -->
    
            <div class="col-sm-10 col-sm-offset-1 from-bottom">
         <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;"  src="images/shortfundly.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">13)Shortfundly</h3>
                                
                                <p class="text-center"><br>"A platform for creative filmmakers."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Shortfundly"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Computer Science Engineering, Marketing, Content Writing, Digital marketing, Content Creation, IT, HR, Sales, Journalism</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

       <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;" src="images/broker.png"/>
                       </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">12)BookMyBroker</h3>
                                
                                <p class="text-center"><br>"BookMyBroker is a leading property services corporation specializing in advisory and real estate transaction management. BookMyBroker is emerging PropTech company using Analytics and Data Science."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"BookMyBroker"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Computer Science Engineering, Marketing, Digital marketing, Sales, Business Development</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;"  src="images/AD.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">14)Addere Creations</h3>
                                
                                <p class="text-center"><br>"Addere Creations is your 3D destination for all your needs related to 3D. We specialise in 3D printing, 3D scanning and 3D designing services and work with customer friendly approach. ."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Addere Creations"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Mechanical Engineering, Marketing.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                       
                        <div class="image">
                            <img style="width:50%;height:92px;" id="center" src="images/jungroo.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">15)Jungroo</h3
                                
                                <p class="text-center"><br>"Jungroo is a B2B SAAS AI powered adaptive learning company."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Jungroo"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Electronics and Communication Engineering, Computer Science Engineering, IT.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->





<!--         <div class="col-sm-1"></div> -->
       
        </div> <!-- end col-sm-10 -->
    
           <div class="col-sm-10 col-sm-offset-1 from-bottom">
         <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;"  src="images/octal.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">16)Octal</h3>
                                
                                <p class="text-center"><br>"Software Development Company."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Octal"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Computer Science Engineering, Marketing, Content Writing, Digital marketing, Content Creation</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

       <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;" src="images/selviate.png"/>
                       </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">18)Selvitate</h3>
                                
                                <p class="text-center"><br>"Selvitate is an end to end e commerce solution."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Selvitate"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Computer Science Engineering, Marketing, Content Writing, Digital marketing, Content Creation, IT, Sales</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="width:50%;height:107px;" id="center"  src="images/emproto.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">23)Emproto Technologies</h3>
                                
                                <p class="text-center"><br>"Technical Product and Services company started 2 years ago by a group of technology enthusiasts."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Emproto Technologies"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Electronics and Communication Engineering, Computer Science Engineering, IT.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                       
                        <div class="image">
                            <img style="width:50%;" id="center" src="images/slice.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">24)SlicePay</h3>
                                
                                <p class="text-center"><br>"SlicePay provide an extremely fast-paced environment for you to apply what you know and learn what you don’t."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"SlicePay"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Mechanical Engineering, Electronics and Communication Engineering, Marketing, Digital marketing, Sales.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->





<!--         <div class="col-sm-1"></div> -->
       
        </div> <!-- end col-sm-10 -->

           <div class="col-sm-10 col-sm-offset-1 from-bottom">
         <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;"  src="images/mod143.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">25)Module143</h3>
                                
                                <p class="text-center"><br>"Make your Dreams reality with our support. Build your dream projects with Robotics & IOT involving latest technologies. Good hands-on experience."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Module143"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Electronics and Communication Engineering, Marketing, Digital marketing</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

       <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;" src="images/antz.png"/>
                       </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">29)Antzlab Technology Services Pvt Ltd</h3>
                                
                                <p class="text-center"><br>" At Antzlab, we are committed to provide with customized solutions that are designed and positioned to achieve your objectives, irrespective of industry or budget."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Antzlab Technology Services Pvt Ltd"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Computer Science Engineering, Marketing, Digital marketing, IT, Sales</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;"  src="images/monkfox.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">30)Monkfox</h3>
                                
                                <p class="text-center"><br>"Online and offline courses for engineering students."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Monkfox"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Computer Science Engineering, Content Creation</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                       
                        <div class="image">
                            <img style="height:78px;" src="images/adwit.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">34)Adwiteya Technology</h3>
                                
                                <p class="text-center"><br>"ADWITEYA TECHNOLOGY company with Electronic Design Services (EDS) for VLSI / EMBEDDED Systems, Speech Processing, Robotics.On IT-SERVICES solutions lend customers in the IT and Engineering R&D businesses."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Adwiteya Technology"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Electrical and Electronics Engineering, Electronics and Instrumentation, Electronics and Communication Engineering, Computer Science Engineering, Marketing, Content Writing, Digital marketing, Content Creation, IT, HR, Sales, Travels</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->





<!--         <div class="col-sm-1"></div> -->
       
        </div> <!-- end col-sm-10 -->

    <div class="col-sm-10 col-sm-offset-1 from-bottom">
         <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;"  src="images/garbha.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">36)GarbhaGudi IVF Center</h3>
                                
                                <p class="text-center"><br>"GarbhaGudi is Bangalore’s leading chain of new-generation infertility treatment hospitals equipped with state-of-the-art infrastructure and cutting edge technological advancements."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"GarbhaGudi IVF Center"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Electrical and Electronics Engineering, Electronics and Instrumentation, Electronics and Communication Engineering, Computer Science Engineering, Content Writing, Content Creation, HR.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

       <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;" src="images/return.jpg"/>
                       </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">37)Return Trucks</h3>
                                
                                <p class="text-center"><br>"ReturnTrucks, is an award winning innovative platform connecting goods and truck owners for an economic, effective and timely engagement. "</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Return Trucks"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Marketing, IT</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="    width: 42%;height: 91px;" id="center"  src="images/book.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">39)Book my trainings.com Pvt ltd</h3>
                                
                                <p class="text-center"><br>"Market place for training, 7 year old company with good Market presence"</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Book my trainings.com Pvt ltd"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Computer Science Engineering, Content Writing, Sales.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                       
                        <div class="image">
                            <img style="width:50%;height:92px;" id="center" src="images/skil.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">40)SkillSanta</h3
                                
                                <p class="text-center"><br>"Students' Skill Development Startup."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"SkillSanta"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Computer Science Engineering, Digital marketing, IT, HR.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->





<!--         <div class="col-sm-1"></div> -->
       
        </div> <!-- end col-sm-10 -->

        <div class="col-sm-10 col-sm-offset-1 from-bottom">
         <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="width:50%;height:92px;" id="center"  src="images/shutapp.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">44)ShutApp</h3>
                                
                                <p class="text-center"><br>"ShutApp is a lifestyle messaging application which lets the users decide what they want it to be.ShutApp helps users to have conversations more privately and freely without any judgement or scrutiny."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"ShutApp"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Electronics and Instrumentation, Computer Science Engineering, Marketing, Content Writing, Digital marketing, Content Creation, Sales, Journalism.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

       <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="width:50%;height:92px;" id="center" src="images/3veni.jpg"/>
                       </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">45)3veni Tech Private Limited</h3>
                                
                                <p class="text-center"><br>"3Veni Tech Pvt Ltd is disruptive innovation creator in our daily life. 3Veni Tech Pvt Ltd is recognized startup under both central and state government."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"3veni Tech Private Limited"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Mechanical Engineering, Electronics and Instrumentation</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height: 93px;width: 60%;" id="center" src="images/owl.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">26)Study Owl</h3>
                                
                                <p class="text-center"><br>"StudyOwl is an Edu tech company."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Study Owl"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Computer Science Engineering, Marketing, Content Writing, Digital marketing, Content Creation, IT, HR, Sales, Journalism.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                       
                        <div class="image">
                            <img style="width:70%;height:78px;" id="center" src="images/lycan.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">20)Lycan 3D</h3
                                
                                <p class="text-center"><br>"Lycan 3D is a startup in the field of Additive Manufacturing, with tremendous potential and a team with profound expertise."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Lycan 3D"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Electrical and Electronics Engineering, Mechanical Engineering, Electronics and Instrumentation, Computer Science Engineering, Marketing.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->





<!--         <div class="col-sm-1"></div> -->
       
        </div> <!-- end col-sm-10 -->

                   <div class="col-sm-10 col-sm-offset-1 from-bottom">
         <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;"  src="images/amplus.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">21)Amplus</h3>
                                
                                <p class="text-center"><br>"At AMPLUS we develop Customized Application Softwares, Web / Mobile Applications, Maintenance and Support."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Amplus"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Electronics and Instrumentation, Electronics and Communication Engineering, Computer Science Engineering, IT, HR, Sales</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

       <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:70px;background-color:black;" src="images/mark.png"/>
                       </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">38)Cyberhanto</h3>
                                
                                <p class="text-center"><br>"We are a startup company. We are mostly dealing with Cybersecurity products."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Cyberhanto"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">IT,Marketing, Content Writing, Digital marketing, Content Creation, HR</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;width:48%"  id="center" src="images/lorecon.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">48)LORE CONSULTANCY</h3>
                                
                                <p class="text-center"><br>"LORE, work with its students and parents to find out which course / university would suit them the best in the world, to give turning point in their career path.LORE  is a service driven company based in Chennai, India."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"LORE CONSULTANCY"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Electrical and Electronics Engineering, Mechanical Engineering, Electronics and Instrumentation, Electronics and Communication Engineering, Computer Science Engineering, Marketing, Content Writing, Digital marketing, IT<span style="size:12px;"class="red">*Internship will be in Chennai</span></p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                       
                        <div class="image">
                            <img style="height:78px;" src="images/uber.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">50)UberMensch</h3>
                                
                                <p class="text-center"><br>"UberMensch is a startup based in Chennai ,working in the fields of robotics and animatronics.We provide good learning platform even for beginners."

                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"UberMensch"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Electrical and Electronics Engineering, Mechanical Engineering, Electronics and Instrumentation, Electronics and Communication Engineering, Marketing, Content Writing, Digital marketing, Robotics, Animatronics.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->





<!--         <div class="col-sm-1"></div> -->
       
        </div> <!-- end col-sm-10 -->
          <div class="col-sm-10 col-sm-offset-1 from-bottom">
         <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;width:42%;" id="center"  src="images/ignite.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">51)Ignite Club</h3>
                                
                                <p class="text-center"><br>"Ignite Club is a platform for youth. it's a platform built to empower youth and thrive in this real world. A platform to train ,explore,connect and discover the various opportunities open to life."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"amplus"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Electrical and Electronics Engineering, Marketing, Digital marketing, IT, HR, Sales, Event organizing, Self development training ,  travel and networking</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

       <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:70px;width:48%;" id="center" src="images/kot.png"/>
                       </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">52)Kotumb Digital Empowerment and CareerPvt Ltd</h3>
                                
                                <p class="text-center"><br>"KOTUMB is a professional networking App targeted for youths starting their career."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Kotumb Digital Empowerment and Career Pvt Ltd"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Computer Science Engineering, Marketing, Content Writing, Digital marketing, Content Creation, IT, HR, Sales</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;width:50%;" id="center" src="images/cloudjorn.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">53)CloudJournee</h3>
                                
                                <p class="text-center"><br>"CloudJournee is young and fast growing IT Company focused on Consulting, Solutions development and providing services on Cloud Computing to our customers."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"CloudJournee"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Electronics and Communication Engineering, Computer Science Engineering, IT, Sales.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                       
                        <div class="image">
                            <img style="height: 81px;width: 48%;" id="center" src="images/sopho.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">31)Chanish Retailer Private Limited</h3>
                                
                                <p class="text-center"><br>"To engage in the business of purchase, sale, exchange and barter of goods including student based products by running establishments for the purpose and by using IT and its applications."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Chanish Retailer Private Limited"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Electrical and Electronics Engineering, Mechanical Engineering, Electronics and Instrumentation, Electronics and Communication Engineering, Marketing, Content Writing, Digital marketing, Robotics, Animatronics.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->





<!--         <div class="col-sm-1"></div> -->
       
        </div> <!-- end col-sm-10 -->

<div class="col-sm-10 col-sm-offset-1 from-bottom">
         <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">28)Profile Quest Management Services LLP</h3>
                                
                                <p class="text-center"><br>"Sourcing Talent for leading IT & Telecom Companies and number one Talent Partner for last 17 years."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Profile Quest Management Services LLP"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Electrical and Electronics Engineering, Electronics and Instrumentation, Electronics and Communication Engineering, Computer Science Engineering, Marketing, HR</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

       <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;width:48%" id="center" src="images/kot.png"/>
                       </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">47)Kotumb</h3>
                                
                                <p class="text-center"><br>"Kotumb helps the business reach the resources."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Kotumb"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Electrical and Electronics Engineering, Electronics and Instrumentation, Electronics and Communication Engineering,Computer Science Engineering, Marketing, Content Writing, Digital marketing, Content Creation,IT.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;width:50%;" id="center" src="images/zauba.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">54)PlacidVision Pvt Ltd</h3>
                                
                                <p class="text-center"><br>"PLACIDVISION technologies is crafting the next generation video technologies utilising HEVC content helping content providers, distributors, wireless operators and mobile content providers."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"PlacidVision Pvt Ltd"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Electronics and Communication Engineering, Computer Science Engineering, IT, video broadcast industry.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;width:50%;" id="center" src="images/excel.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">56)ExcelR Solutions</h3>
                                
                                <p class="text-center"><br>"We are the leading training provider for Data Science, Digital Marketing and PMP courses in India."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"ExcelR Solutions"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Computer Science Engineering, Marketing, Content Writing, Digital marketing, Content Creation, HR, Sales.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->



</div> <!-- end row -->
</div>
<h1><span class="red">NON-TECHNICAL</span></h1>

<div class="container">
    <div class="row">
        
        <div class="col-sm-10 col-sm-offset-1 from-bottom">
         <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;background-color:black"  src="images/mag.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">5)Magnate Architectural Auxilliary Services</h3>
                                
                                <p class="text-center"><br>"The Magnate Group delivers contact, content and communities with the power to transform a business. Through a range of activities."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Magnate Architectural Auxilliary Services"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Marketing, Digital marketing.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

       <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:85px;" src="images/haven.jpg"/>
                       </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">3)Haven Spur Events</h3>
                                
                                <p class="text-center"><br>"We are an event planning company that aspires to provide a new haven when we celebrate an event, where we involve the clients as well, making them feel as a part of the whole process."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Haven Spur Events"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Marketing, Content Writing, Digital marketing, Content Creation, Sales, Photography </p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;"  src="images/poorvi.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">6)Poorvi Digismart Private Limited</h3>
                                
                                <p class="text-center"><br>"Just Events 365  stands out as a pioneer in the creation of mesmerizing events for private and corporate customers, we ideate, we plan, we design, and we execute and manage every project. "</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Poorvi Digismart Private Limited"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Digital marketing,EVENTS.</p>
                          </div>
                        </div>

                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                       
                        <div class="image">
                            <img style="height:78px;" src="images/getmy.png">
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">7)GetMyUni</h3>
                                
                                <p class="text-center"><br>"GetMyUni is a Times Internet invested company. It is an education hub which helps prospective aspirants make the right education choice via student reviews and insights. "</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"GetMyUni"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Content Writing, Content Creation, Sales.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->






        </div> <!-- end col-sm-10 -->
    
            <div class="col-sm-10 col-sm-offset-1 from-bottom">
         <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height: 83px;width: 75%;" id="center"  src="images/wheelz.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">9)DrWheelz Auto Service Pvt Ltd</h3>
                                
                                <p class="text-center"><br>"Its an online doorstep car services business."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"DrWheelz Auto Service Pvt Ltd"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Marketing, Content Writing, Digital marketing, Sales</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

       <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height: 83px;width: 49%;" id="center" src="images/rapid.png"/>
                       </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">8)Rapidez HR Global Services</h3>
                                
                                <p class="text-center"><br>"'Rapidez HR Global Services -- Specialized Recruitment Firm from past 10 years Countries Supporting –US|EMEA|ASIA|.'"</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Rapidez HR Global Services"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Content Writing, Digital marketing, HR.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;"  src="images/woovly.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">17)Woovly India Pvt. LTD</h3>
                                
                                <p class="text-center"><br>"Woovly is World's only aggregator of  people’s Wishlist’s and one of the fastest growing bucket lists start-up in the country. We have a community of 1,00,000+ bucket listers."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Woovly India Pvt. LTD"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Marketing, Content Writing, Content Creation, HR, Sales</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                       
                        <div class="image">
                            <img style="height: 64px;width: 75%;" id="center" src="images/dharni.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">22)Dharni Group</h3>
                                
                                <p class="text-center"><br>"We are a Financial Advisory Firm."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Dharni Group"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Content Writing, Digital marketing, HR.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->





<!--         <div class="col-sm-1"></div> -->
       
        </div> <!-- end col-sm-10 -->
    
           <div class="col-sm-10 col-sm-offset-1 from-bottom">
         <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height: 83px;width: 45%;" id="center"  src="images/suvnik.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">27)Suvnik Concierge Services Private Limited</h3>
                                
                                <p class="text-center"><br>"Tech enabled concierge."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Suvnik Concierge Services Private Limited"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Marketing, Content Writing, Digital marketing, Content Creation</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

       <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;background-color:black;" src="images/wowcars.png"/>
                       </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">19)WowCars</h3>
                                
                                <p class="text-center"><br>"As Wow cars make your traveling dream come true with our Best Car Rental deals in Bangalore, India."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Wowcars"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Marketing, Content Writing, Digital marketing, Content Creation, Sales</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;"  src="images/anexas.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">32)Anexas Consultancy Se Pvt Ltd</h3>
                                
                                <p class="text-center"><br>"Training & Consulting."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Anexas Consultancy Se Pvt Ltd"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Marketing, Content Writing, Digital marketing, Sales.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                       
                        <div class="image">
                            <img style="height:78px;background-color:black;" src="images/champion.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">33)Champions Business Solutions </h3>
                                
                                <p class="text-center"><br>"Champions Business solutions is marketing and sales firm we provide automobiles solution across Bangalore and south India giving our clients time and money saving."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Champions Business Solutions "</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Marketing, Sales</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->





<!--         <div class="col-sm-1"></div> -->
       
        </div> <!-- end col-sm-10 -->

           <div class="col-sm-10 col-sm-offset-1 from-bottom">
         <div class="col-lg-3 col-md-6 col-sm-6 col-66">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="width: 50%;height: 122px;" id="center"  src="images/arjana.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">41)Arjana Management Consultants Pvt.Ltd.</h3>
                                
                                <p class="text-center"><br>"We are into Education management services for about 17 years."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Arjana Management Consultants Pvt.Ltd."</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Marketing, Content Writing, Digital marketing, Content Creation, Sales</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

       <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="width:50%;" id="center" src="images/haq.jpg"/>
                       </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">42)Haqdarshak Empowerment Solutions Pvt Ltd</h3>
                                
                                <p class="text-center"><br>"Social Organization "</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Haqdarshak Empowerment Solutions Pvt Ltd "</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Social Sector </p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;padding-top:20px;"  src="images/hub.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">46)Hubwords Media</h3>
                                
                                <p class="text-center"><br>"We are Hubwords Media  specialists in PR, online marketing/branding, and content services across industry domains."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Hubwords Media"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Marketing, Digital marketing, Content Creation, Sales, Journalism.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                       
                        <div class="image">
                            <img style="height:78px;" src="images/eezzy.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">49)High Five Technology Solutions Pvt. Ltd</h3>
                                
                                <p class="text-center"><br>"Visit eezyyweb.com and eezyycrm.com to know about our products & Services."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Motto if needed"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Marketing, Content Writing, Digital marketing, Sales.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->





<!--         <div class="col-sm-1"></div> -->
       
        </div> <!-- end col-sm-10 -->

          <div class="col-sm-10 col-sm-offset-1 from-bottom">
         <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;width:50%;" id="center"  src="images/monnet.png"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">10)Monnet digital india Pvt Ltd</h3>
                                
                                <p class="text-center"><br>"Monnet digital india is recognized as india's top notch digital marketing company with service offering:3D virtual reality,  Augmented reality,  panoramic tours and digital marketing strategy."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Monnet digital india Pvt Ltd"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Marketing, IT, Sales</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

       <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                             <img style="height:75px;width:47%;" id="center"  src="images/go.png"/>
                       </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">35)GO DESi</h3>
                                
                                <p class="text-center"><br>"At GO DESi we are creating a packaged food brand inspired by regional formats & flavors. Unlike regular FMCG's, our manufacturers are micro units set up by women entrepreneurs, farmer cooperatives and SHG in rural and semi urban areas."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"GO DESI"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Marketing, Content Writing, HR, Operations, Sourcing.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
<!--         <div class="col-sm-1"></div> -->

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                             <img style="height:75px;width:47%;" id="center"  src="images/bill.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">43)E-info ventures India Pvt Ltd</h3>
                                
                                <p class="text-center"><br>"E-info Ventures India Pvt Ltd is a company which goes by the brand name Bangalore Billboard.We are a local search engine wherein we provide branding and visibility to your business."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"E-info ventures India Pvt Ltd"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Marketing.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->

    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
             <div class="card-container">
                <div class="card">
                    <div class="front">
                        
                        <div class="image">
                            <img style="height:75px;width:50%;" id="center" src="images/yunus.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">55)Yunus Social Business</h3>
                                
                                <p class="text-center"><br>"Our portfolio companies could benefit from an intern who is passtionate about creating social impact joining their ranks. Depending on requirements and fit."</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"Yunus Social Business"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Job Description</h4>
                                <p class="text-center">Yunus Social Business.</p>
                          </div>
                        </div>
                        
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
        </div> <!-- end col sm 3 -->
        </div> <!-- end col-sm-10 -->

          




</div> <!-- end row -->

</div>
</div>


<div class="block">
    
    <div class="container">
        <div class="pretty from-left">
        <h2>Steps to register</h2>
            <ol>
            <li>Set priority</li>
            <li>Choose your top 3</li>
            <li>Register <a href="https://docs.google.com/forms/d/e/1FAIpQLSdjdfk5YqnRql5G8FpW10sMHlS4SNA7IP3VSXls4kGJ3wsFXg/viewform?vc=0&c=0&w=1">HERE</a></li>
            </ol>
        </div>
    </div>

</div>



<script src="js/bootstrap.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $().ready(function(){
        $('[rel="tooltip"]').tooltip();

    });

    function rotateCard(btn){
        var $card = $(btn).closest('.card-container');
        console.log($card);
        if($card.hasClass('hover')){
            $card.removeClass('hover');
        } else {
            $card.addClass('hover');
        }
    }
</script>



<script>
    window.sr = new ScrollReveal();





sr.reveal('.from-left',{
    duration:3500,
    origin:'left',
    distance:'300px',
    mobile:false
});

sr.reveal('.from-bottom',{
    duration:2000,
    origin:'bottom',
    distance:'300px',
    mobile:false
});

</script>
<script>
    $( ".fa-times" ).click(function() {
  $( ".message" ).toggle( "slow", function() {
    // Animation complete.
  });
});


</script>






<% include ../partials/footer %>


