<% include ../partials/header %>

	
	<div id="home">
			<div class="landing-text from-bottom">
				
					<h1 style="font-family: 'Anton', sans-serif;letter-spacing:4px; ">Internmela<span
     				class="txt-rotate red"
     				data-period="900"
     				data-rotate='[ "19", "2019","Aspire" ]'></span></h1>
				
			<!--	<section class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.2s"> -->
					<h3 style="font-family: 'Dancing Script', cursive;font-size:35px">"Test ride to great careers"</h3>
			<!--	</section>	-->
				
			</div>	
	</div>
	<div class="padding">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 from-left ">
					<img style="padding-top:50px;min-height:320px" src="/images/acelogoadj.png" class="img-responsive aarsha ">
				</div>
				<div class="col-sm-6 from-right ">
					<h3><span class="red" style="font-weight:bold;">ACE</span></h3>
				<p class="lead from-right from-right">Amrita E-Cell, provides business and people with opportunities to imagine sustainable innovations.
								ACE creates networks where there have been none, bringing the skills, the mentors, and the access
								to capital through interns that accelerate local entrepreneurs towards success.<a class="red" data-toggle="modal" data-target="#acemodal"> Know More>></a> </p>
								
			</div>
			<div class="modal fade" id="acemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  				<div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title red" id="exampleModalLabel">ACE</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        				<p class="lead">Amrita E-Cell, provides business and people with opportunities to imagine sustainable innovations.
										ACE creates networks where there have been none, bringing the skills, the mentors, and the access
										to capital through interns that accelerate local entrepreneurs towards success. Every year, we
										conducts contests: fun, community-driven events that enable would-be entrepreneurs to get
										feedback on their ideas, and learn about accelerator program. The group brings value to over all
										students of all sizes, in all industries. Our collaborations through the club with companies foster
										social innovation, expanding possibilities for the company to improve the real world.
										</p>
									
			      </div>
			      <div class="modal-footer">
			       
			      </div>
			    </div>
			  </div>
				</div>
				</div>
				<!-- Button trigger modal -->


<!-- Modal -->
				
	
			</div>
		</div>
	</div>
	

	<div class="padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 from-left ">
				<h3><span class="red" style="font-weight:bold;">AMRITA</span></h3>
				<p class="lead">Amrita Vishwa Vidyapeetham is a multi-campus, multi-disciplinary research academia that is
				accredited &#39;A&#39; by NAAC and is ranked as one of the best research institutions in India. Amrita is
					spread across six campuses in three states of India .     
					<a class="red" data-toggle="modal" data-target="#amrita"> Know More>></a> </p> 
						
			</div>
			<div class="modal fade" id="amrita" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  				<div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title red" id="exampleModalLabel">AMRITA</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        				<p class="lead">Amrita Vishwa Vidyapeetham is a multi-campus, multi-disciplinary research academia that is accredited 'A' by NAAC and is ranked as one of the best research institutions in India. Amrita is spread across six campuses in three states of India - Kerala, Tamil Nadu and Karnataka, with the headquarters at Ettimadai, Coimbatore, Tamil Nadu. Amrita Vishwa Vidyapeetham has emerged as one of the fastest growing institutions of higher learning in India. The institution is managed by the Mata Amritanandamayi Math.

									The Amrita School of Engineering, Bengaluru offers B.Tech. programs in five disciplines. The school has a faculty strength of nearly 150. Several students have qualified and won in different levels of national competitions, bringing laurels to the university. The school traces its roots to the Amrita Institute of Technology & Science that was started in 2002 with a vision to produce quality engineers with an attitude of service, for the benefit of the society and nation.

										</p>
									
			      </div>
			      <div class="modal-footer">
			       
			      </div>
			    </div>
			  </div>
				</div>
<!-- this modal is for intermela ,put here due to a bug -->
			<div class="modal fade" id="amritafire" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title red"  id="exampleModalLongTitle">INTERNMELA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body "><p class="lead">
        Internmela is an internship drive organized by Amrita Center for Entrepreneurship in Amrita School of Engineering, Bengaluru. It is a mutually befitting platform which aims to bridge the gap between students and start-ups. Students across all streams of Engineering are given internship opportunities both in technical and non-technical fields. More than 35 companies attend ‘Internmela’ each year to recruit 100+ students for internships. Internmela has proved to be a promising platform to inculcate start-up culture in young minds and experimentally learn the organizational structure and understand the culture of the entrepreneurial world. Students are given an opportunity to find internships in not only engineering domains but also in fields like marketing, sales, journalism, photography and content writing. Internmela’19 is going to be conducted on 23rd March, 2019 in the Amrita Vishwa Vidyapeetham, Bengaluru campus. </p>
      </div>
      <div class="modal-footer">
    
      </div>
    </div>
  </div>
</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 from-left-fast ">
				<img src="/images/amritanew.png" class="img-responsive aarsha">
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 from-right-fast ">
				<h3><span class="red" style="font-weight:bold;">INTERNMELA</span></h3>
				<p class="lead">Internmela is an internship drive organized by Amrita Center for Entrepreneurship in Amrita School
				of Engineering, Bengaluru. It is a mutually befitting platform which aims to bridge the gap between
				students and start-ups .<br><a class="red" data-toggle="modal" data-target="#amritafire"> Know More>></a></br></p>


			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 from-right ">
				<img src="/images/internme.png" class="img-responsive aarsha">
			</div>	


	</div>
	</div>
</div>
	<div class="fixed ">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<img   src="/images/wowcars.png" class="from-right sponsor_wow">
			</div>
			
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<img  src="/images/slice.png" class="from-right sponsor_slice">
			</div> 
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<img  src="/images/lorecon.png" class="from-right sponsor_lore">
			
			</div>
		</div>
	</div>
	<p class="lead from-bottom  " style="color:white;text-align:center; padding-top:26px;">Sponsored by</p>
	</div>

	<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
window.sr = new ScrollReveal();





 sr.reveal('.from-bottom',{
 	duration:3000,
 	origin:'bottom',
 	distance:'300px',
 	mobile:false
 });

sr.reveal('.from-left',{
	duration:2000,
	origin:'left',
	distance:'300px',
	mobile:false
});
sr.reveal('.from-left-fast',{
	duration:1300,
	origin:'left',
	distance:'300px',
	mobile:false
});

sr.reveal('.from-right',{
	duration:2000,
	origin:'right',
	distance:'300px',
	mobile:false
});
sr.reveal('.from-right-fast',{
	duration:1300,
	origin:'right',
	distance:'300px',
	mobile:false
});



</script>
<script>





    $(function() {
      // Smooth Scrolling
      $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html, body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });

   

    </script>



	

<% include ../partials/footer %>