<% include ../partials/teamheader %>

	<div id="start">
	<section class="team">
	<div class="container">
	<h1 class="red">TEAM</h1>
	

		<div class="row">
			
			<div class="col-lg-12 resize text-center profile from-left " >
			<!-- <section class="os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.09s"> -->
					<div class="img-box rounded">
				<img src="/images/sandhya.jpg" class="size">
			</div class>
				<h3 class="red">SANDHYA S</h3>
				<p>"Mentor of the ACE club"</p>
				<!-- </section> -->
			

			</div>
		</div>

		<div class="row from-bottom ">
		
			<div class="col-lg-4 ">
				<img src="/images/rohitedited.jpg" class="secsize">
				<h3 class="red">ROHIT S</h3>
				<p>Co-Secertary</p>
			</div>
			<div class="col-lg-4">
				<img src="/images/vysh.jpg" class="secsize" >
				<h3 class="red">VYSHNAVI G</h3>
				<p>Secertary</p>

			</div>
			<div class="col-lg-4">
				<img src="/images/ANUDEEPEDIT.jpg" class="secsize" >
				<h3 class="red">ANUDEEP G</h3>
				<p>Co-Secertary</p>

			</div style="padding-bottom:160px;">
		
			
		<div  class="row from-bottom">
			<div class="col-lg-3 ">
				<img src="/images/akash.jpg" class="exsize">
				<h3 class="red">V N AKASH</h3>
				<p>ACE Executive</p> 
			</div>
			<div class="col-lg-3 ">
				<img src="/images/srinidhi.jpg" class="exsize">
				<h3 class="red">SRINIDHI B</h3>
				<p>ACE Executive</p> 

			</div>
			<div class="col-lg-3 ">
				<img src="/images/teja.jpg" class="exsize">
				<h3 class="red">SAI TEJA P</h3>
				<p>ACE Executive</p> 

			</div>
			<div class="col-lg-3 ">
				<img src="/images/ashwin.jpg" class="exsize">
				<h3 class="red">ASHWIN A R</h3>
				<p>ACE Executive</p> 

			</div>
		</div>

		<div class="row from-bottom">
			<div class="col-lg-3 ">
				<img src="/images/disha.jpg" class="exsize">
				<h3 class="red">DISHA S</h3>
				<p>ACE Executive</p> 
			</div>
			<div class="col-lg-3 ">
				<img src="/images/charan.jpg" class="exsize">
				<h3 class="red">CHARAN B</h3>
				<p>ACE Executive</p> 

			</div>
			<div class="col-lg-3 ">
				<img src="/images/vamsi.jpg" class="exsize">
				<h3 class="red">C VAMSI KRISHNA</h3>
				<p>ACE Executive</p> 

			</div>
			<div class="col-lg-3 ">
				<img src="/images/harish.jpg" class="exsize">
				<h3 class="red">HARISH R</h3>
				<p>ACE Executive</p> 

			</div>
		</div>

		<div class="row from-bottom">
			<div class="col-lg-3 ">
				<img src="/images/ganapathy.jpg" class="exsize">
				<h3 class="red">GANAPATHY S</h3>
				<p>ACE Executive</p> 
			</div>
			<div class="col-lg-3 ">
				<img src="/images/manasa1.jpeg" class="exsize">
				<h3 class="red">MANASA S</h3>
				<p>ACE Executive</p> 

			</div>
			<div class="col-lg-3 ">
				<img src="/images/vilashnee.jpg" class="exsize">
				<h3 class="red">VILASHNEE B</h3>
				<p>ACE Executive</p> 

			</div>
			<div class="col-lg-3 ">
				<img src="/images/mounika.jpg" class="exsize">
				<h3 class="red">MOUNIKA I</h3>
				<p>ACE Executive</p> 

			</div>
		</div>

		<div class="row from-bottom">
			<div class="col-lg-3 ">
				<img src="/images/sailesh.jpg" class="exsize">
				<h3 class="red">K SRI SAILESH</h3>
				<p>ACE Executive</p> 
			</div>
			<div class="col-lg-3 ">
				<img src="/images/sourab.jpg" class="exsize">
				<h3 class="red">SOURAB S</h3>
				<p>ACE Executive</p> 
			</div>
			<div class="col-lg-3 ">
				<img src="/images/koushik.jpg" class="exsize">
				<h3 class="red">K KOUSHIK</h3>
				<p>ACE Executive</p> 
			</div>
			<div class="col-lg-3 ">
				<img src="/images/nitya3.jpg" class="exsize">
				<h3 class="red">K NITYA</h3>
				<p>ACE Executive</p> 
			</div>
			
			

			</div>
		</div>

		<div class="row from-bottom">
			<div class="col-lg-3 ">
				<img src="/images/gsp.jpg" class="exsize">
				<h3 class="red">P GURU SAI PHANINDRA</h3>
				<p>ACE Executive</p> 
			</div>
			
			
			
			

			</div>
		</div>
				
		
	
	</div>
	</section>
	</div>
	
<script>
	window.sr = new ScrollReveal();





sr.reveal('.from-left',{
	duration:2000,
	origin:'left',
	distance:'300px',
	mobile:false
});

sr.reveal('.from-bottom',{
	duration:2000,
	origin:'bottom',
	distance:'300px',
	mobile:false
});

</script>


</body>
</html>